.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    transition: height 0.3s ease-in-out;
    overflow: hidden; /* Hide overflow content when closed */
  }
  
  .navbar-open {
    height: auto;
    animation: slideDown 0.3s ease-in-out;
  }
  
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: auto;
    }
  }